
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/ascii-art" method="POST">
  <textarea name="text" style="width:400px; height:150px;"></textarea>
  <select name="banner">
    <option value="standard">standard</option>
    <option value="shadow">shadow</option>
    <option value="thinkertoy">thinkertoy</option>
  </select>
  <button type="submit">Generate</button>
</form>

{{if .Result}}
  <pre>{{.Result}}</pre>
{{end}}
</body>
</html>
