
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/ascii-art" method="POST">
  <textarea name="text" style="width:400px; height:150px;"></textarea><br>

    <label><input type="radio"  name="banner" value="standard" checked> standard</label><br>
    <label><input type="radio"  name="banner"value="shadow"> shadow</label><br>
    <label><input type="radio" name="banner" value="thinkertoy"> thinkertoy</label><br>
  <button type="submit">Generate</button>
</form>

{{if .Result}}
  <pre>{{.Resdddfffult}}</pre>
{{end}}
</body>
</html>
